


/* Comunes a todas las resoluciones */
	body{
		font-family: freeSans, verdana;
		background-color: #ffffff;
		
	}



/* Estilos para pantallas de mas de 850px de ancho */
@media screen and (min-width: 850px){
	#container{
		padding:25px;
		margin:  0 auto;
		width: 	1200px;
		height: 500px;
	}
	/*--------------------------------------------------------------------------------------------------*/
	header{
		background-color: #3CB371;	
		margin: auto;
		padding: 15px;
		height: 40px;
		
	}
	header img {
		float:left;
		width: 48px;
		height: 49px;
		margin-right: 10px;
	}
	header .user{
		float:right;
		padding-top: 10px;
		margin: 0px auto auto 25px ; 
		height: 100%;	
		
	}


	header .user a{
		text-decoration: none;
		color: white;


	}

	header .button{
		float:left;
		margin: 10px auto auto 25px ;
	}

	header .button a{
		color: white;
		text-decoration: none;
	}

	header .shearch{
		float:right;
		margin-right: 50px;
	}
	header .shearch input{
		padding: 3px;
		margin-left: 50px;
		height: 30px;
		width: 250px;
		display: inline-block;
	}
	#buttonSearch{
		float:right;
		display: inline;
		margin-left: 5px; 
		

	}
	#buttonSearch img{
		height: 40px;
		width: 40px;
	}

	header .menu{
		float:left;	
	}
	header .menu:hover{
		
	}
	header .menu a{
		text-decoration: none;
		line-height:40px;
		color: #ffffff;

	}

	/*-----------------------------------------------------------------------------------------------------------*/

	#container section.infoHospital{
		
		max-width: 1200px;
		height: 450px;

		
	}
	#container section.infoHospital article.containerInfo{
		background-color: #eeeeee;
		float:left;
		margin: 50px 50px 50px 50px;
		height: 300px;
		width: 300px;
		box-shadow: 2px 2px 5px #999;
		
		
		
	}
	#container section.infoHospital div.title h3{
		letter-spacing: 1.5px;

		color: #ffffff;
		text-align: center;
	}

	#container section.infoHospital article.containerInfo div.info{
		display: inline-block;
		font-size: 14px;		
		text-align: center;
		padding:10px;
		height: 230px;
		

		
	}
	#container section.infoHospital  article.containerInfo div.title{
		background-color: #3CB371;	
		padding-top: 2.5px ;
		padding-bottom: 2.5px;
		}

	#container section.infoHospital div.moreInfo {

		float: right;
		text-align: center;
		background-color: #3CB371;
		text-decoration:none;
		color: #ffffff;
		padding:10px;
		margin-top:5px;
		margin-bottom: 5px;
	}

	#container section.infoHospital div.moreInfo:hover {
		background-color: #ffffff;
		color: #3CB371 ;
		border: solid 1.5px #3CB371;
	}

	footer{

		text-align: center;
		margin-left:auto;
		margin-right:auto;
		margin-top: 20px;
		margin-bottom: 20px;
		width: 100%;
		display: block;
		border-top: 1px solid #3CB371;
		padding-top: 10px;
		padding-bottom: 10px;
			
	}


	/*--------------------------------------------------------------------------------------------------------------------*/

	header .dropdown{
		float: right;
		position: relative;
		margin: 10px auto auto 25px ;
	}
	header .dropdown a{
		text-decoration: none;
		color: white;
	}
	/*
	header nav.dropdown:hover{
		background-color: red;
	}
	*/
	header ul.dropdown-content{
		display: none;
		position: absolute;
		min-width: 250px;
		background: #49505A;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	header .dropdown:hover ul.dropdown-content{
		display: block;
		box-shadow: 6px 6px 5px #888888;
		background: #ffffff;
	}
	/*
	header nav.dropdown ul.dropdown-content a:hover{
		background: #3CB371;
		color: #ffffff;
	} */

	header .dropdown ul.dropdown-content a{
		background: #ffffff;
		color: #3CB371;
	}

	
	header .dropdown ul.dropdown-content a li:hover{
		background: #3CB371;
		color: #ffffff;
	}

	header .dropdown ul.dropdown-content a li{
		padding: 10px 0px 10px 10px;
	}

	#tituloLogin {
		text-align: center;
		font-size: 30px;
		color: #0E6655;
		font-weight: bold;
	}
	div.login {
		padding-top: 50px;
		padding-left: 50px;
		border: solid 1px;
		margin: auto;
		width: 550px
		

	}

	.input {
		font-family: freeSans, verdana;
		margin-bottom: 30px;	
		border: solid 1px;
		width: 500px;
		height: 40px;
		padding-left: 10px;
		display:block;
	}



	#buttonLogin {
		padding-left: 0px;
		color: white;
		text-align: center;
		border: solid 1.5px transparent;
		background-color: #3CB371;
	}

	#buttonLogin:hover{
		background-color: #ffffff;
		color: #3CB371;
		border: solid 1.5px #3CB371;
		font-weight: bold;
	}
}























/* Estilos para pantallas de entre 400px y 850px de ancho */
@media screen and (min-width: 400px) and (max-width: 850px){

	#container{
		padding: 25px;
		width: 	550px;
		height: 1350px;
		margin: 100px auto 0 auto;
		position: relative;
		display: block;

	}

	header{
		background-color: #3CB371;	
		margin: auto;
		width: auto;
		height: 120px;
		padding: 15px;
		position: relative;
		

	}

	header img {
		float:left;
		width: 48px;
		height: 49px;
		margin-right: 10px;

	}

	header .user{
		float: right;
		position: relative;
		display: block;
		background-color: rgba(14, 99, 69, 0.6);
		animation: none;
		padding: 5px;
		border-radius:10px;
		text-align: center;
	}
	header .user a{
		font-size: 35px;
		text-decoration: none;
		color: rgba(255, 255, 255, 0.9);

	}

	
	#buttonSearch{
		float:right;		
		margin-left: 5px; 
	}

	#buttonSearch img{
		height: 40px;
		width: 40px;
	}
	

	header .shearch{
		display: block;
		float:left;
		position: relative;
		margin-top: 25px;
		margin-left: 200px; 

	}
	header .shearch input{
		padding: 3px;
		height: 40px;
		width: 350px;
		display: inline-block;
		font-size: 25px;
	}

	header .shearch button{
		
		font-size: 25px;
		height: 40px;
		
	}

	header nav.menu{
		text-align: left;
		height: 50px;
		font-size: 35px;
		display: block;
		float: left;
	

	}

	header nav.menu a{
		text-decoration: none;
		color: #ffffff;
		line-height: 40px;

	}

	#container section.infoHospital{
		max-width: 1200px;		
		position: absolute;
		margin:auto;
	}

	#container section.infoHospital article.containerInfo{
		background-color: #eeeeee;
		float:left;
		margin: 0px 50px 50px 0px;
		
		width: 100%;
		box-shadow: 2px 2px 5px #999;	
	}

	#container section.infoHospital div.title h3{
		letter-spacing: 1.5px;
		color: #ffffff;
		text-align: center;
	}

	#container section.infoHospital article.containerInfo div.info{
		display: block;
		font-size: 25px;
		text-align: center;
		padding:10px;
			

	}

	#container section.infoHospital  article.containerInfo div.title{
		background-color: #3CB371;	
		padding-top: 2.5px ;
		padding-bottom: 2.5px;
		font-size: 25px;
	}

	#container section.infoHospital div.moreInfo {
		font-size:25px;
		float: right;
		text-align: center;
		background-color: #3CB371;
		text-decoration:none;
		color: #ffffff;
		padding:10px;
		margin-right: 10px;
		margin-bottom: 10px;
		border: solid 1.5px #eeeeee;
	}

	#container section.infoHospital div.moreInfo:hover {
		background-color: #ffffff;
		color: #3CB371 ;
		border: solid 1.5px #3CB371;
	}

	footer{
		text-align: center;
		width: auto;
		margin-top: 20px;
		margin-bottom: 20px;		
		display: block;
		position: relative;
		font-size: 25px;
		border-top: 1px solid #3CB371;
		padding-top: 10px;
		padding-bottom: 10px;
		

	}

	header .dropdown{
		float: right;
		position: relative;
		margin: 10px auto auto 25px ;
	}
	header ul.dropdown-content{
		display: none;
		position: absolute;
		min-width: 250px;
		background: #49505A;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	header .dropdown:hover ul.dropdown-content{
		display: block;
		box-shadow: 6px 6px 5px #888888;
		background: #ffffff;
		float: left;
		font-size: 25px;
	}
	/*
	header nav.dropdown ul.dropdown-content a:hover{
		background: #3CB371;
		color: #ffffff;
	} */

	header .dropdown ul.dropdown-content a{
		background: #ffffff;
		color: #3CB371;
	}

	
	header .dropdown ul.dropdown-content a li:hover{
		background: #3CB371;
		color: #ffffff;
	}

	header .dropdown ul.dropdown-content a li{
		padding: 10px 0px 10px 10px;
	}
	
	div.login {
		padding-top: 40px;
		padding-left: 50px;
		border: solid 1px;
		margin-top: 80px;
		width: 500px;

			

	}
	#tituloLogin {
		text-align: center;
		font-size: 30px;
		color: #0E6655;
		font-weight: bold;
	}

	.input {
		font-family: freeSans, verdana;
		font-size: 25px;
		padding: 10px 0 10px 0;
		margin-bottom: 30px;
		border: solid 1px  ;
		width: 450px;
		height: 60px;
		padding-left: 10px;
		display:block;
	}

	.input:focus{
		border: #3CB371 solid 1px;
	}

	#buttonLogin {
		
		color: white;
		text-align: center;
		background-color: #3CB371;
	}

	#buttonLogin:hover{
		background-color: #ffffff;
		color: #3CB371;
		border: solid 1.5px #3CB371;
		font-weight: bold;
	}

}
