<section class="row mx-auto mt-5 ">
	<div class="login col-md-5  mx-auto mt-4 mb-4 pb-5 pt-5 pr-5 pl-5 border rounded ">
		{% if not validacion.ok  %}
			{% for mensaje in validacion[1:] %}
				<p class="alert alert-danger">{{mensaje}}</p>
			{% endfor %}
		{% endif %}
		<h3 class="card-header text-center myHeader">Agregar paciente </h3>
		<form class="text-center" role="form" method="POST" action="/controller/ControllerPaciente.php?action=agregarPaciente">
			<div class="form-group ">
			    <label for="nombre" hidden>Nombre</label>
			    <input type="text" class="form-control mt-3" id="nombre" name="nombre" placeholder="Nombre" >
		  	</div>
		  	<div class="form-group ">
			    <label for="apellido" hidden>Apellido</label>
			    <input type="text" class="form-control mt-3" id="apellido" name="apellido" placeholder="Apellido" required>
		  	</div>
		  	<div class="form-group ">
			    <label for="fechaNacimiento" hidden>Fecha de nacimiento</label>
			    <input type="date" class="form-control mt-3" id="fechaNacimiento" name="fechaNacimiento" placeholder="Fecha de nacimiento" required>
		  	</div>
		  	<div class="form-group ">
			    <label for="genero" hidden>Género</label>
			    <select name="genero" class="form-control mt-3">
			    	<option value="masculino">Masculino</option>
			    	<option value="femenino">Femenino</option>
			    </select>
		  	</div>
		  	<div class="form-group ">
			    <label for="tipoDoc" hidden>Tipo de documento</label>
			    <select name="idTipoDocumento" class="form-control mt-3" required>
			    	{% for tipoDoc in tiposDeDocumento %}
				    	<option value="{{ tipoDoc.id }}">{{ tipoDoc.nombre | upper }}</option>
				    {% endfor %}
			    </select>
		  	</div>
		  	<div class="form-group ">
			    <label for="numeroDoc" hidden>Nro de documento</label>
			    <input type="number" class="form-control mt-3" id="numeroDoc" name="numeroDoc" placeholder="Nro de documento" required>
		  	</div>
		  	<div class="form-group ">
			    <label for="domicilio" hidden>Domicilio</label>
			    <input type="text" class="form-control mt-3" id="domicilio" name="domicilio" placeholder="Domicilio" required>
		  	</div>
		  	<div class="form-group ">
			    <label for="telefono" hidden>Teléfono</label>
			    <input type="number" pattern="[0-9]" class="form-control mt-3" id="telefono" name="telefono" placeholder="Teléfono">
		  	</div>
		  	<div class="form-group ">
			    <label for="obraSocial" hidden>Obra social</label>
			    	<select name="idObraSocial" class="form-control mt-3">
				    	<option value="0">Ingrese obra social</option>
				    	{% for obraSocial in obrasSociales %}
				    		<option value="{{ obraSocial.id }}">{{ obraSocial.nombre | upper }}</option>
				    	{% endfor %}
			    	</select>
		  	</div>

			<div class="form-group">
				<input type="hidden" name="token" value={{usuarioActual.token}}>
			</div>

		  	<button type="submit" class="btn btn-outline-success  btn-own-info">Agregar paciente</button>
		</form>
	</div>
</section>