<!DOCTYPE html>
	<html lang="es">
		<head>

			<link rel="stylesheet" type="text/css" href="/../templates/css/styles1.css">
			<link rel="stylesheet" type="text/css" href="/../templates/css/stylesNew.css">
			<link rel="stylesheet" type="text/css" href="/../templates/css/jquery-ui.min.css">
			<link rel="stylesheet" type="text/css" href="/../templates/bootstrap/css/bootstrap.css">
			<script type="text/javascript" src="/../templates/js/jquery.js"></script>
		  	<script type="text/javascript" src="/../templates/js/jquery-ui.min.js"></script>
			<script src="/../templates/js/popper.js" type="text/javascript"></script>
			<script src="/../templates/js/js-own/validaciones.js" type="text/javascript"></script>
			<script src="/../templates/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1">
		  	<title> {% block titulo %} Home {% endblock %} </title>

		</head>	

		<header>
			
			<nav class="navbar navbar-expand-lg navbar-light nav-own" role="navigation">
				<a class="navbar-brand nav-bar-link-own " href="/../">
	 			<img class="mr-2" src="/templates/img/logo.JPG" alt="logo del hospital" width="48px" height="49px" class="d-inline-block align-top">
					{{configuracion.titulo}}
	  			</a>
			
			  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  			<span class="navbar-toggler-icon"></span>
	 			</button>
	 			{% block navegacion %}
			  		<div class="collapse navbar-collapse float-right" id="navbarSupportedContent">	
						{% block opcionesPaciente %}
							{% if sesion.recepcionista == 1 or sesion.pediatra == 1 %}
								{% include 'opcionesPaciente.twig.html' %}
							{% endif %}
						{% endblock %}
						{% block opcionesAdmin %}
							{% if sesion.administrador == 1 %}
								{% include 'opcionesAdmin.twig.html' %}
							{% endif %}
						{% endblock %}
						{% block busqueda %}
				  		<form  id="form" class="form-inline my-2 my-lg-0 ml-auto mr-5 d-flex justify-content-center">
				      		<input class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Buscar">
				      		<button class="btn btn-outline-success btn-search  my-2 my-sm-0" type="submit">Buscar</button>
				    	</form>
				    	{% endblock %}
				    	{% block sesion %}
				    		{% include 'sesion.twig.html' %}
				    	{% endblock %}
					</div>
				{% endblock %}
			</nav>
			
		</header>

		<div class="container mt-5">
			{% block container %}
				{% include 'infoHome.twig.html' %}
			{% endblock %}
		</div>

		<footer class="mb-1 mt-3 text-center position-absolute">
			Hospital Dr. Ricardo Gutierrez - Contacto: {{configuracion.contacto}}
		</footer>
	</html>	