<div class="container mt-5">
	{% if tipo == 'login' %}
		{% include 'login.twig.html' %}
	{% elseif tipo == 'logup' %}
		{% include 'logup.twig.html' %}
	{% elseif tipo == 'config' %}
		{% include 'config.twig.html' %}
	{% elseif tipo == 'pacientes' %}
		{% include 'pacientes.twig.html' %}
	{% elseif tipo == 'mostrarPaciente' or tipo == 'modificarPaciente' %}
		{% include 'mostrarPaciente.twig.html' %}
	{% elseif tipo == 'agregarPaciente' or tipo == 'formularioAgregarPaciente' %}
		{% include 'agregarPaciente.twig.html' %}
	{% elseif tipo == 'formularioModificarPaciente' %}
		{% include 'modificarPaciente.twig.html' %}
	{% elseif tipo == 'agregarUsuario' %}
		{% include 'logup.twig.html' %}
	{% elseif tipo == 'listarPacientes' or tipo == 'listarUsuarios' %}
		{% include 'listado.twig.html' %}
	{% else %}
		{% include 'infoHome.twig.html' %}
	{% endif %}
</div>