<section class="row mx-auto mt-5 ">
	<div class="login col-md-10  mx-auto mt-4 mb-4 pb-5 pt-5 pr-5 pl-5 border rounded ">
		
		{% if not validacion.ok  %}
			{% for mensaje in validacion[1:] %}
				<p class="alert alert-danger">{{mensaje}}</p>
			{% endfor %}
		{% endif %}

		{% if control is defined %}
			{% if edicion is defined %}
				{% set boton = 'Guardar cambios' %}
				{% set action = 'editar/' ~ control.id  %}
			{% endif %}
			{% set peso = control.peso %}
			{% set vacunasCompletas = control.vacunasCompletas %}
			{% set observacionesVacunas = control.observacionesVacunas %}
			{% set maduracionAcorde = control.maduracionAcorde %}
			{% set observacionesMaduracion = control.observacionesMaduracion %}
			{% set examenFisicoNormal = control.examenFisicoNormal %}
			{% set observacionesExamen = control.observacionesExamen %}
			{% set pc = control.pc %}
			{% set ppc = control.ppc %}
			{% set talla = control.talla %}
			{% set descripcionAlimentacion = control.descripcionAlimentacion %}
			{% set observacionesGenerales = control.observacionesGenerales %}
		{% else %}
			{% set peso = '' %}
			{% set vacunasCompletas = true %}
			{% set boton = 'Agregar' %}
			{% set action = 'agregar'  %}
			{% set maduracionAcorde = true %}
			{% set observacionesMaduracion = '' %}
			{% set examenFisicoNormal = true %}
			{% set observacionesExamen = ''  %}
			{% set pc = '' %}
			{% set ppc = '' %}
			{% set talla = '' %}
			{% set descripcionAlimentacion = '' %}
			{% set observacionesGenerales = '' %}
		{% endif %}
		
		<h3 class="card-header text-center myHeader">Control general </h3>

		<form class="text-center " role="form" method="POST"  action="/index.php/paciente/{{idPaciente}}/control/{{action}}">
			<div class="form-group row mt-3">
			    <label for="fecha" class="col-sm-5 col-form-label">Fecha actual</label>
			    <input type="text" readonly class="text-center form-control col-sm-2" id="fecha" name="fecha" value='{{"now" | date("Y-m-d") }}'>
		 	</div>
			<div class="form-group row">
			    <label for="edad" class="col-sm-5 col-form-label">Edad de paciente</label>
			    <input type="text" readonly class="text-center form-control col-sm-2" id="edad" name="edad" value='{{edad}}'>
			</div>
			<div class="form-group row ">
			     <label for="peso" class="col-sm-5 col-form-label">Peso</label>
			    <input type="number" step='any' class="form-control col-sm-2 mt-3" id="peso" name="peso" placeholder="Peso en Kg" value="{{peso}}" required> 
			</div>
			<div class="form-group row ">
			   <label for="vacunas_completas" class="col-sm-5 col-form-label">Vacunas completas</label>
			   <select class="form-control col-sm-5 mt-3" name="vacunas_completas">
  					<option value="1" selected={{vacunasCompletas}}>Si</option>
					<option value="0" selected={{vacunasCompletas}}>No</option>
				</select>
			</div>

			<div class="form-group row ">
			<label for="vacunas_completas_observaciones" class="col-sm-5 col-form-label">Observaciones vacunas </label>
				<textarea class="form-control col-sm-5 mt-3" rows ="4" id="vacunas_completas_observaciones" name="vacunas_completas_observaciones" placeholder="Observaciones de vacunas" required>{{observacionesVacunas}}</textarea>
			</div>

			<div class="form-group row">
			   <label for="maduracion_acorde" class="col-sm-5 col-form-label" >Maduracion acorde</label>
			    <select name="maduracion_acorde" class="form-control col-sm-5 mt-3">
  					<option value="1" selected={{maduracionAcorde}}>Si</option>
					<option value="0" selected={{maduracionAcorde}}>No</option>
				</select>
			</div>
			<div class="form-group row">
			<label for="maduracion_acorde_observaciones" class="col-sm-5 col-form-label" > Observaciones maduracion</label>
				<textarea class="form-control col-sm-5 mt-3" rows ="4" id="maduracion_acorde_observaciones" name="maduracion_acorde_observaciones" placeholder="Observaciones de maduracion" required>{{observacionesMaduracion}}</textarea>
			</div>


			<div class="form-group row">
			   <label for="ex_fisico_normal" class="col-sm-5 col-form-label"  > Examen fisico normal</label>
			    <select name="ex_fisico_normal" class="form-control col-sm-5 mt-3">
  					<option value="1" selected={{examenFisicoNormal}}>Si</option>
					<option value="0" selected={{examenFisicoNormal}}>No</option>
				</select>
			</div>

			<div class="form-group row">
			<label for="ex_fisico_observaciones" class="col-sm-5 col-form-label" > Observaciones examen fisico</label>
				<textarea class="form-control col-sm-5 mt-3" rows ="4" id="ex_fisico_observaciones" name="ex_fisico_observaciones" placeholder="Observaciones de examen fiscio" required>{{observacionesExamen}}</textarea>
			</div>

			<div class="form-group row">
				<label for="pc"  class="col-sm-5 col-form-label" > Percentilo cefálico</label>
				<input class="form-control col-sm-1 mt-3" type="number" name="pc" placeholder="PC" value="{{pc}}">
			</div>

			<div class="form-group row">
				<label for="ppc" class="col-sm-5 col-form-label" > Percentilo perimetro cefálico</label>
				<input class="form-control col-sm-1 mt-3" type="number" name="ppc" placeholder="PPC" value="{{ppc}}">
			</div>

			<div class="form-group row">
				<label for="talla" class="col-sm-5 col-form-label " > Talla</label>
				<input class="form-control col-sm-1 mt-3" type="number" placeholder="Talla" name="talla" value="{{talla}}">
			</div>

			<div class="form-group row">
			<label for="alimentacion" class="col-sm-5 col-form-label"> Descripcion de alimentacion</label>
				<textarea class="form-control col-sm-5 mt-3" rows ="4" id="alimentacion" name="alimentacion" placeholder="Descripcion de alimentacion">{{descripcionAlimentacion}}</textarea>
			</div>
			<div class="form-group row">
			<label for="observaciones_generales" class="col-sm-5 col-form-label"> Observaciones generales</label>
				<textarea class="form-control col-sm-5 mt-3" rows ="4" id="observaciones_generales" name="observaciones_generales" placeholder="Observaciones generales">{{observacionesGenerales}}</textarea>
			</div>
			<input type="hidden" name="user_id" value="{{usuarioActual.idUsuario}}">
			<input type="hidden" name="paciente_id" value="{{idPaciente}}">
			<input type="hidden" name="token" value={{usuarioActual.token}}>
			
			<button type="submit" class="btn btn-outline-success  btn-own-info">{{boton}}</button>

		</form>
	</div>
</section>