<section class="row mx-auto mt-5 ">
	<div class="login col-md-5  mx-auto mt-4 mb-4 pb-5 pt-5 pr-5 pl-5 border rounded ">
		{% if not validacion.ok  %}
			{% for mensaje in validacion[1:] %}
				<p class="alert alert-danger">{{mensaje}}</p>
			{% endfor %}
		{% endif %}
		{% if usuario is defined  %}
			<h3 class="card-header text-center myHeader">Modificar usuario </h3>
			{% set boton = 'Modificar' %}
			{% set nombre = usuario.nombre %}
			{% set apellido = usuario.apellido %}
			{% set nombreUsuario = usuario.nombreUsuario %}
			{% set email = usuario.email %}
			{% set pass = usuario.password %}
			{% set rolesUsuario = usuario.roles %}
			<form class="text-center" role="form" method="POST" onsubmit="return validarRoles()" action="/index.php/usuario/{{usuario.id}}/editar">


		{% else %}
			<h3 class="card-header text-center myHeader">Agregar usuario </h3>
			{% set accion = "agregar" %}
			{% set boton = 'Agregar' %}
			{% set nombre = '' %}
			{% set apellido = '' %}
			{% set nombreUsuario = '' %}
			{% set email = '' %}
			{% set pass = '' %}
			{% set rolesUsuario = [] %}
			<form class="text-center" role="form" method="POST" onsubmit="return validarRoles()" action="/index.php/usuarios/agregar">
		{% endif %}
	
		<div class="form-group ">
			    <label for="name" hidden>Nombre</label>
			    <input type="text" class="form-control mt-3" id="nombre" name="nombre" placeholder="Nombre" value="{{nombre}}" required>
		  	</div>
		  	<div class="form-group ">
			    <label for="apellido" hidden>Apellido</label>
			    <input type="text" class="form-control mt-3" id="apellido" name="apellido" placeholder="Apellido" value="{{apellido}}" required>
		  	</div>
		  	<div class="form-group ">
			    <label for="user" hidden>Usuario</label>
			    <input type="text" class="form-control mt-3" id="usuario"  name="usuario" placeholder="Usuario" value="{{nombreUsuario}}" required >
		  	</div>
		  	<div class="form-group">
		    	<label for="email" hidden>Email</label>
		   		<input type="text" class="form-control mt-3" id="email" name="email" placeholder="Email" value="{{email}}" required>
			</div>
		 	<div class="form-group">
		    	<label for="password" hidden>Contraseña</label>
		   		<input type="password" class="form-control mt-3" id="password" name="password" placeholder="Contraseña" value="{{pass}}" required>
			</div>
			
			<div class="form-group">
		    	<label for="password2" hidden>Repita contraseña</label>
		   		<input type="password" class="form-control mt-3" id="password2" name="password2" placeholder="Repita contraseña" required>
			</div>
		

			<p class="text-left">Roles:</p>
			<p class="text-danger" name="mensajeRoles"> </p>
			<div class="form-check text-left" >
				{% for rol in roles %}
					{% if rol in rolesUsuario %}
							<input type="checkbox" name="rol[]" id="rol[]" class="checkbox" value="{{rol.nombre}}" checked> 
	    					<label for="rol">{{rol.nombre}}</label><br/>
	    			{% else %}
	    					<input type="checkbox" name="rol[]" id="rol[]" class="checkbox" value="{{rol.nombre}}"> 
	    					<label for="rol">{{rol.nombre}}</label><br/>
	    			{% endif %}
     			{% endfor %}
  			</div>
  			<div class="form-group">
				<input type="hidden" name="token" value={{usuarioActual.token}}>
			</div>
			<button type="submit" class="btn btn-outline-success  btn-own-info">{{boton}}</button>
		</form>
	</div>
</section>
