<section class="row mx-auto mt-5 ">
	<div class="login col-md-5  mx-auto mt-4 mb-4 pb-5 pt-5 pr-5 pl-5 border rounded ">
	{% if datosDemograficos is defined %}
		{% set heladera = datosDemograficos.heladera %}
		{% set electricidad = datosDemograficos.electricidad %}
		{% set mascota = datosDemograficos.mascota %}
		{% set tipoVivienda = datosDemograficos.tipoVivienda %}
		{% set tipoCalefaccion = datosDemograficos.tipoCalefaccion %}
		{% set tipoAgua = datosDemograficos.tipoAgua %}
		{% set titulo = 'Modificar datos demográficos' %}
	{% else %}
		{% set heladera = '' %}
		{% set electricidad = '' %}
		{% set mascota = '' %}
		{% set tipoVivienda = '' %}
		{% set tipoCalefaccion = '' %}
		{% set tipoAgua = '' %}
		{% set titulo = 'Agregar datos demográficos' %}
	{% endif %}
		<h3 class="card-header text-center myHeader">{{ titulo }} </h3><br>
		{% if datosDemograficos is defined %}
			<form class="text-center" role="form" method="POST" action="/index.php/paciente/{{idPaciente}}/datosDemograficos/editar">
		{% else %}
			<form class="text-center" role="form" method="POST" action="/index.php/paciente/{{idPaciente}}/datosDemograficos/agregar">
		{% endif %}
		  	<div class="form-group">
			    <label for="heladera">Heladera</label>
			    <select name="heladera" class="form-control mt-3">
			    	{% if datosDemograficos.heladera == 1 %}
				    	<option value="1" selected>Si</option>
				    	<option value="0">No</option>
				    {% else %}
				    	<option value="1">Si</option>
				    	<option value="0" selected>No</option>
			    	{% endif %}
			    </select>
		  	</div>
		  	<div class="form-group ">
			    <label for="electricidad">Electricidad</label>
			    <select name="electricidad" class="form-control mt-3" required>
			    	{% if datosDemograficos.electricidad == 1 %}
				    	<option value="1" selected>Si</option>
				    	<option value="0">No</option>
				    {% else %}
				    	<option value="1">Si</option>
				    	<option value="0" selected>No</option>
			    	{% endif %}
			    </select>
		  	</div>
		  	<div class="form-group ">
			    <label for="mascota">Mascota</label>
			    <select name="mascota" class="form-control mt-3" required>
			    	{% if datosDemograficos.mascota == 1 %}
				    	<option value="1" selected>Si</option>
				    	<option value="0">No</option>
				    {% else %}
				    	<option value="1">Si</option>
				    	<option value="0" selected>No</option>
			    	{% endif %}
			    </select>
		  	</div>
		  	<div class="form-group ">
			    <label for="tipoVivienda">Tipo de vivienda</label>
			    	<select name="tipoVivienda" class="form-control mt-3">
				    	{% for tipoVivienda in tiposDeVivienda %}
				    		{% if datosDemograficos.tipoVivienda == tipoVivienda.id %}
				    			<option value="{{ tipoVivienda.id }}" selected>{{ tipoVivienda.nombre | upper }}</option>
				    		{% else %}
				    			<option value="{{ tipoVivienda.id }}">{{ tipoVivienda.nombre | upper }}</option>
				    		{% endif %}
				    	{% endfor %}
			    	</select>
		  	</div>
		  	<div class="form-group ">
			    <label for="tipoCalefaccion">Tipo de calefacción</label>
			    	<select name="tipoCalefaccion" class="form-control mt-3">
				    	{% for tipoCalefaccion in tiposDeCalefaccion %}
				    		{% if datosDemograficos.tipoCalefaccion == tipoCalefaccion.id %}
				    			<option value="{{ tipoCalefaccion.id }}" selected>{{ tipoCalefaccion.nombre | upper }}</option>
				    		{% else %}
				    			<option value="{{ tipoCalefaccion.id }}">{{ tipoCalefaccion.nombre | upper }}</option>
				    		{% endif %}
				    	{% endfor %}
			    	</select>
		  	</div>
		  	<div class="form-group ">
			    <label for="tipoAgua">Tipo de agua</label>
			    	<select name="tipoAgua" class="form-control mt-3">
				    	{% for tipoAgua in tiposDeAgua %}
				    		{% if datosDemograficos.tipoAgua == tipoAgua.id %}
				    			<option value="{{ tipoAgua.id }}" selected>{{ tipoAgua.nombre | upper }}</option>
				    		{% else %}
				    			<option value="{{ tipoAgua.id }}">{{ tipoAgua.nombre | upper }}</option>
				    		{% endif %}
				    	{% endfor %}
			    	</select>
		  	</div>
		  	<div><input type="text" name="idPaciente" value="{{idPaciente}}" hidden></div>
		  	<div><input type="text" name="id" value="{{ datosDemograficos.id }}" hidden></div>

		  	<div class="form-group">
				<input type="hidden" name="token" value={{usuarioActual.token}}>
			</div>

		  	<button onclick="return confirm('Seguro?')" type="submit" class="btn btn-outline-success  btn-own-info">{{ titulo }}</button>
		</form>
	</div>
</section>