
<section class="row mx-auto mt-5 ">
	<div class="login col-md-7  mx-auto mt-4 mb-4 pb-5 pt-5 pr-5 pl-5 border rounded ">
		{% if not validacion.ok  %}
			{% for mensaje in validacion[1:] %}
				<p class="alert alert-danger">{{mensaje}}</p>
			{% endfor %}
		{% endif %}
		{% if usuario is defined  %}
			{% if usuarioInvalido is defined %}
				{% set usuario = usuarioInvalido %}
			{% endif %}	
			<h3 class="card-header text-center myHeader">Modificar usuario </h3>
			{% set boton = 'Modificar' %}
			{% set nombre = usuario.nombre %}
			{% set apellido = usuario.apellido %}
			{% set nombreUsuario = usuario.nombreUsuario %}
			{% set email = usuario.email %}
			{% set pass = usuario.password %}
			{% set rolesUsuario = usuario.roles %}
			<form class="text-center" role="form" method="POST" onsubmit="return validarRoles()" action="/index.php/usuario/{{usuario.id}}/editar">


		{% else %}
			<h3 class="card-header text-center myHeader">Agregar usuario </h3>
				{% set boton = 'Agregar' %}
			{% if usuarioInvalido is defined %}
				{% set usuario = usuarioInvalido %}
				{% set nombre = usuario.nombre %}
				{% set apellido = usuario.apellido %}
				{% set nombreUsuario = usuario.nombreUsuario %}
				{% set email = usuario.email %}
				{% set pass = usuario.password %}
				{% set rolesUsuario = usuario.roles %}
			{% else %}				
				{% set accion = "agregar" %}
				{% set nombre = '' %}
				{% set apellido = '' %}
				{% set nombreUsuario = '' %}
				{% set email = '' %}
				{% set pass = '' %}
				{% set rolesUsuario = [] %}
			{% endif %}
			<form class="text-center" role="form" method="POST" onsubmit="return validarRoles()" action="/index.php/usuarios/agregar">
		{% endif %}
		
				<div class="form-group row ">
					    <label for="nombre"  class="col-sm-3 mt-3 col-form-label">Nombre</label>
					    <input type="text" class="form-control mt-3 col-sm-8" id="nombre" name="nombre" placeholder="Nombre" value="{{nombre}}" required>
				 </div>
			  	<div class="form-group row ">
				    <label for="apellido" class="col-sm-3 mt-3 col-form-label">Apellido</label>
				    <input type="text" class="form-control mt-3 col-sm-8" id="apellido" name="apellido" placeholder="Apellido" value="{{apellido}}" required>
			  	</div>
			  	<div class="form-group row ">
				    <label for="usuario" class="col-sm-3 mt-3 col-form-label">Usuario</label>
				    <input type="text" class="form-control mt-3 col-sm-8" id="usuario"  name="usuario" placeholder="Usuario" value="{{nombreUsuario}}" required >
			  	</div>
			  	<div class="form-group row">
			    	<label for="email" class="col-sm-3 mt-3 col-form-label">Email</label>
			   		<input type="text" class="form-control mt-3 col-sm-8" id="email" name="email" placeholder="Email" value="{{email}}" required>
				</div>
			 	<div class="form-group row">
			    	<label for="password" class="col-sm-3 mt-3 col-form-label">Contraseña</label>
			   		<input type="password" class="form-control mt-3 col-sm-8" id="password" name="password" placeholder="Contraseña" value="{{pass}}" required>
				</div>
				
				<div class="form-group row">
			    	<label for="password2" class="col-sm-3 mt-3 col-form-label">Confirmación</label>
			   		<input type="password" class="form-control mt-3 col-sm-8" id="password2" name="password2" placeholder="Repita contraseña" required>
				</div>
		
				
				
				<div class="form-group row form-check " >
					<p class=" col-sm-3">Roles:</p>
					{% for rol in roles %}
						{% if rol in rolesUsuario %}
								<input type="checkbox" name="rol[]" id="rol[]" class="checkbox col-sm-1" value="{{rol.nombre}}" checked> 
		    					<label for="rol" class="col-sm-1">{{rol.nombre}}</label><br/>
		    			{% else %}
		    					<input type="checkbox" name="rol[]" id="rol[]" class="checkbox col-sm-1" value="{{rol.nombre}}"> 
		    					<label for="rol" class="col-sm-1">{{rol.nombre}}</label><br/>
		    			{% endif %}
	     			{% endfor %}
	  			</div>
	  			<div class="form-group">
					<input type="hidden" name="token" value={{usuarioActual.token}}>
				</div>
				<button type="submit" class="btn btn-outline-success  btn-own-info">{{boton}}</button>
		</form>
	</div>
</section>