<header>
	<nav class="navbar navbar-expand-lg navbar-light nav-own" role="navigation">
		<a class="navbar-brand nav-bar-link-own " href="#">
	 		<img class="mr-2" src="/templates/img/logo.JPG" alt="logo del hospital" width="48px" height="49px" class="d-inline-block align-top">
			Hospital Dr. Ricardo Gutierrez
	  	</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	  </button>
	  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	  		{% if recepcionista == 1 or pediatra == 1 %}
	  			{% include 'opcionesPaciente.twig.html' %}
	  		{% endif %}
	  		{% if administrador == 1 %}
	  			{% include 'opcionesAdmin.twig.html' %}
	  		{% endif %}
		  		<form  id="form" class="form-inline my-2 my-lg-0 ml-auto mr-5 d-flex justify-content-center">
		      		<input class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Buscar">
		      		<button class="btn btn-outline-success btn-search  my-2 my-sm-0" type="submit">Buscar</button>
		    	</form>
		    
	    	<ul class="navbar-nav float-right ">
	    		{% if iniciar_sesion == 1 %}
	      		<li class="nav-item active">
	        		<a class="nav-link  nav-bar-link-own" role="button" href="/controller/ControllerUsuario.php?action=loginUsuarioView">Iniciar sesión</a>
	      		</li>
	      		{% else %}
	      			<a class="nav-link nav-bar-link-own" role="submit" href="#">{{usuario.nombreUsuario}}</a>
	      			<a class="nav-link nav-bar-link-own" role="submit" href="/controller/ControllerUsuario.php?action=cerrarSesion">Cerrar sesión</a>
	      		{% endif %}

	    	</ul>
	    	
	  	</div>
	</nav> 
</header>