<section class="row d-flex align-items-top">			
	<article class="col-md-3 mb-4 pb-2 mx-auto text-center infoPrincipal">
		<h3 class="card-header myHeader">EL HOSPITAL</h3>
		<p class="mt-2 ml-3 mr-3">
			Este es el centro de salud tiene un programa de residencias de primer nivel en el país. Se ofrecen oportunidades de práctica intensiva y supervisada en ámbitos profesionales y por la misma -por supuesto- se recibe un salario mensual, acorde a lo que la regulacion médica profesional lo indica en cada momento.
		</p>
		<a class="btn btn-outline-success btn-own-info" role="button" href="masInfo.html">Mas información...</a>
	</article>
	<article class="col-md-3 mb-4 mx-auto pb-2 text-center infoPrincipal"> 			
		<h3 class="card-header myHeader">GUARDIA </h3>
		<p class="mt-2 ml-3 mr-3">
			Hospital Dr. Ricardo Gutierrez de La Plata dispone de un sofisticado servicio de guardias médicas las 24 horas para la atención de distintas urgencias. La administracion de la institucion hace viable una eficiente separación de los pacientes según el nivel de seriedad y tipo de patología.
		</p>
		<a class="btn btn-outline-success btn-own-info " role="button" href="masInfo.html">Mas información...</a>
	</article>
	<article class="col-md-3 mb-4 mx-auto text-center pb-2 infoPrincipal">
		<h3 class="card-header myHeader">ESPECIALIDADES </h3>
		<p class="mt-2 ml-3 mr-3">
			Acorde a una respetable trayectoria en materia de medicina y salud, en Hospital Dr. Ricardo Gutierrez de La Plata podemos encontrar profesionales de las principales especialidades de salud. Del mismo modo, se brinca atencion programada y de urgencias se realizan estudios médicos y se brinda soporte en muchas de las ramas comunes de la medicina moderna.
		</p>					
		<a class="btn btn-outline-success btn-own-info " role="button" href="masInfo.html">Mas información...</a>
	</article>			
</section>