<section>
	<h2> Historia Clinica</h2><br>
		<div class="mb-4 mt-4">
			<h3 >Controles </h3> 
			<table class="table table-hover">
		  	<thead>
			    <tr>
			    	<th> Fecha</th>
			    	<th> Medico</th>
			    </tr>
		  	</thead>
		  	<tbody>
			  	{% for elemento in lista %}

				    <tr>
				    	<td>{{ elemento.fecha}}</td>
				    	<td>
				    		{{ elemento.medico }}
				    	</td>
				    	<td>
				    		<a href="/index.php/paciente/{{ idPaciente }}/control/{{elemento.id}}" class="btn btn-outline-success btn-own-info"> Ver control </a>
				    	</td>
				    </tr>
			     {% endfor %}
			    
			</tbody>
		</table>