<section>
	<h2> {{titulo}}</h2><br>
	{% if tipo == 'listarUsuarios' %}
		<div class="mb-4 mt-4">
			<h3 >Filtrado </h3> 
			<form  id="form" class="form-inline my-2 my-lg-0 ml-auto mr-5 d-flex justify-content-start" action="/controller/ControllerUsuario.php?action=filtradoUsuario" method="POST">		
				{% if filtrado != null %}
	      		<input class="form-control mr-sm-2 " type="text" placeholder="Buscar" aria-label="Buscar" name="buscar" id="buscar" value="{{filtrado.campoBuscar}}">
	      		{% else %}
	      		<input class="form-control mr-sm-2 " type="text" placeholder="Buscar" aria-label="Buscar" name="buscar" id="buscar">
	      		{% endif %}

	      		{% if filtrado != null %} 
				<input type="checkbox" name="activo" id="activo" class="checkbox mr-2 ml-2" value="activo" checked={{filtrado.activo}}> 
				{% else %}
				<input type="checkbox" name="activo" id="activo" class="checkbox mr-2 ml-2" value="activo">  
				{% endif %}
    			<label for="rol">Activo</label><br/>

    			{% if filtrado != null %}
				<input type="checkbox" name="bloqueado" id="bloqueado" class="checkbox mr-2 ml-2" value="bloqueado" checked={{filtrado.bloqueado}}>
				{% else %}
				<input type="checkbox" name="bloqueado" id="bloqueado" class="checkbox mr-2 ml-2" value="bloqueado">
				{% endif %}
    			<label for="rol">Bloqueado</label><br/>
	      		<button class="btn btn-success btn-search  my-2 my-sm-0 mr-2 ml-2" type="submit">Filtrar</button>
	      	
		    </form>
		 </div>
	{% endif %}
	<table class="table table-hover">
	  	<thead>
		    <tr>
		    {% if tipo == 'listarPacientes' %}
		      <th>Nombre</th>
		      <th>Apellido</th>
		      <th></th>
		      <th></th>
		      <th></th>
		    {% elseif tipo == 'listarUsuarios' %}
		    	<th>Nombre de usuario</th>
		      	<th></th>
		      	<th></th>
		      	<th></th>
		    {% endif %}
		    </tr>
	  	</thead>
		<tbody>
		  	{% for elemento in lista %}
		    <tr>
		    {% if tipo == 'listarPacientes' %}
		      	<td>{{elemento.nombre}}</td>
		    	<td>{{elemento.apellido}}</td>
		   	{% elseif tipo == 'listarUsuarios' %}
		   		<td>{{ elemento.nombreUsuario }}</td>
		   	{% endif %}
		      	<td>
		      		{% if tipo == 'listarPacientes' %}
		      		<form class="text-center" method="POST" action="/controller/ControllerPaciente.php?action=modificacionDePaciente">

		      		{% elseif tipo == 'listarUsuarios' %}
		      		<a href="/controller/ControllerUsuario.php?action=modificacionDeUsuario&id={{ elemento.id }}" class="btn btn-outline-success btn-own-info">Editar</a>
		      <!--	<form class="text-center" method="POST" action="/controller/ControllerUsuario.php?action=modificacionDeUsuario"> -->
		      		{% endif %}
		      	 <!--		
		      	 		<input type="hidden" name="id" id="id" value={{elemento.id}}>
		      			<button type="submit" class="btn btn-outline-success  btn-own-info">Editar</button>
		      		</form> 
		      		-->
		      	</td>
		      	<td>
		      		{% if tipo == 'listarPacientes' %}
		      		<!--
		      		<form class="text-center" method="POST" onsubmit="return confirm('Seguro?')" action="/controller/ControllerPaciente.php?action=eliminarPaciente">
		      		-->
		      		{% elseif tipo == 'listarUsuarios' %}
		      		<!--
		      		<form class="text-center" method="POST" onsubmit="return confirm('Seguro?')" action="/controller/ControllerUsuario.php?action=eliminarUsuario">
					-->
					<a onclick="return confirm('Seguro?')"  href="/controller/ControllerUsuario.php?action=eliminarUsuario&id={{ elemento.id }}" class="btn btn-outline-success btn-own-info">Eliminar </a>
		      		{% endif %}
		      		<!--
		      			<input type="hidden" name="id" value="{{elemento.id}}">
		      			<button type="submit"  class="btn btn-outline-success  btn-own-info">Eliminar</button>
		      		</form>
		      		-->
		      	</td>

		      	<td>
		      		{% if elemento.activo %}
		      			<a href="/controller/ControllerUsuario.php?action=desactivarUsuario&id={{ elemento.id }}" class="btn btn-outline-success btn-own-info"> Bloquear </a>
		      		{% else %}
		      			<a href="/controller/ControllerUsuario.php?action=activarUsuario&id={{ elemento.id }}" class="btn btn-outline-success btn-own-info"> Activar </a>
		      		{% endif %}		      			
		      		<!--
		      			<input type="hidden" name="id" value="{{elemento.id}}">
		      			<button type="submit" class="btn btn-outline-success  btn-own-info ">Más información</button>
		      		-->
		      		</form>
		      	</td>
		      	<td>
		      		{% if tipo == 'listarPacientes' %}
		      		<form class="text-center" method="POST" action="/controller/ControllerPaciente.php?action=mostrarPaciente">
		      		{% elseif tipo == 'listarUsuarios' %}
		      		<!--
		      		<form class="text-center" method="POST" action="/controller/ControllerUsuario.php?action=mostrarUsuario">
					-->
					<a href="/controller/ControllerUsuario.php?action=mostrarUsuario&id={{ elemento.id }}" class="btn btn-outline-success btn-own-info">Mas información</a>
		      		{% endif %}
		      	</td>
		    </tr>
		    {% endfor %}
		</tbody>
	</table>
	{% if tipo == 'listarPacientes' %}

	<a class="btn btn-success mt-3 mb-5 text-right" role="button" href="/../controller/ControllerPaciente.php?action=altaDePaciente">Agregar nuevo paciente</a>
	{% elseif tipo == 'listarUsuarios' %} 
	<a class="btn btn-success mt-3 mb-5 text-right" role="button" href="/../controller/ControllerUsuario.php?action=agregarUsuarioView">Agregar nuevo usuario</a>
	{% endif %}
</section>