<section>
	<h2> {{titulo}}</h2><br>
	<table class="table table-hover">
	  	<thead>
		    <tr>
		    {% if tipo == 'listarPacientes' %}
		      <th>Nombre</th>
		      <th>Apellido</th>
		      <th></th>
		      <th></th>
		      <th></th>
		    {% elseif tipo == 'listarUsuarios' %}
		    	<th>Nombre de usuario</th>
		      	<th></th>
		      	<th></th>
		      	<th></th>
		    {% endif %}
		    </tr>
	  	</thead>
		<tbody>
		  	{% for elemento in lista %}
		    <tr>
		    {% if tipo == 'listarPacientes' %}
		      	<td>{{elemento.nombre}}</td>
		    	<td>{{elemento.apellido}}</td>
		   	{% elseif tipo == 'listarUsuarios' %}
		   		<td>{{ elemento.username }}</td>
		   	{% endif %}
		      	<td>
		      		{% if tipo == 'listarPacientes' %}
		      		<form class="text-center" method="POST" action="/Controller/ControllerPaciente.php?action=modificacionDePaciente">
		      		{% elseif tipo == 'listarUsuarios' %}
		      		<form class="text-center" method="POST" action="/Controller/ControllerUsuario.php?action=modificacionDeUsuario">
		      		{% endif %}
		      			<input type="hidden" name="id" id="id" value={{elemento.id}}>
		      			<button type="submit" class="btn btn-outline-success  btn-own-info">Editar</button>
		      		</form>
		      	</td>
		      	<td>
		      		{% if tipo == 'listarPacientes' %}

		      		<form class="text-center" method="POST" onsubmit="return confirm('Seguro?')" action="./ControllerPaciente.php?action=eliminarPaciente">
		      		{% elseif tipo == 'listarUsuarios' %}
		      		<form class="text-center" method="POST" onsubmit="return confirm('Seguro?')" action="./ControllerUsuario.php?action=eliminarUsuario">

		      		<form class="text-center" method="POST" action="/Controller/ControllerPaciente.php?action=eliminarPaciente">
		      		{% elseif tipo == 'listarUsuarios' %}
		      		<form class="text-center" method="POST" action="/Controller/ControllerUsuario.php?action=eliminarUsuario">

		      		{% endif %}
		      			<input type="hidden" name="id" value="{{elemento.id}}">
		      			<button type="submit"  class="btn btn-outline-success  btn-own-info">Eliminar</button>
		      		</form>
		      	</td>
		      	<td>
		      		{% if tipo == 'listarPacientes' %}
		      		<form class="text-center" method="POST" action="/Controller/ControllerPaciente.php?action=mostrarPaciente">
		      		{% elseif tipo == 'listarUsuarios' %}
		      		<form class="text-center" method="POST" action="/Controller/ControllerUsuario.php?action=mostrarUsuario">
		      		{% endif %}
		      			<input type="hidden" name="id" value="{{elemento.id}}">
		      			<button type="submit" class="btn btn-outline-success  btn-own-info ">Más información</button>
		      		</form>
		      	</td>
		    </tr>
		    {% endfor %}
		</tbody>
	</table>
	{% if tipo == 'listarPacientes' %}

	<a class="btn btn-success mt-3 mb-5 text-right" role="button" href="/../Controller/ControllerPaciente.php?action=altaDePaciente">Agregar nuevo paciente</a>
	{% elseif tipo == 'listarUsuarios' %} 
	<a class="btn btn-success mt-3 mb-5 text-right" role="button" href="/../Controller/ControllerUsuario.php?action=agregarUsuarioView">Agregar nuevo usuario</a>
	{% endif %}
</section>