<section>
	<h2> Pacientes </h2><br>
	<div class="mb-4 mt-4">
			<h3 >Búsqueda</h3> 
			<form  id="form" class="form-inline my-2 my-lg-0 ml-auto mr-5 d-flex justify-content-start" action="/index.php/pacientes/busquedaNombre" method="POST">
				<div class="form-group ">
					<label for="busquedaNombre" hidden>Nombre</label>
					<input class="form-control mt-3 mr-3" type="text" aria-label="busquedaNombre" name="busquedaNombre" id="busquedaNombre" placeholder="Nombre">
					<label for="busquedaApellido" hidden>Apellido</label>
					<input class="form-control mt-3 mr-3" type="text" aria-label="busquedaApellido" name="busquedaApellido" id="busquedaApellido" placeholder="Apellido">
				<button class="btn btn-success btn-search mt-3 mb-0 text-right" role="button" type="submit">Buscar</button>
				</div>
		    </form>
		    <form  id="form" class="form-inline my-2 my-lg-0 ml-auto mr-5 d-flex justify-content-start" action="/index.php/pacientes/busquedaDocumento" method="POST">
				<select class="form-control mt-3 mr-3" id="busquedaTipoDoc" name="busquedaTipoDoc" onchange="myFunction()">
					<option value="2">DNI</option>
					<option value="5">PASAPORTE</option>
					<option value="5">PARTIDA DE NACIMIENTO</option>
					<option value="6">RUC</option>
					<option value="7">CARNET EXTRANJERO</option>
				</select>
				<div id="demo"></div>
				<label for="busquedaNumeroDoc" hidden> Número de documento</label>
				<input class="form-control mt-3 mr-3" type="number" placeholder="Número de documento" aria-label="busquedaNumeroDoc" name="busquedaNumeroDoc" id="busquedaNumeroDoc">
				<button class="btn btn-success btn-search mt-3 mb-0 text-right" role="button" type="submit">Buscar</button>
			</form>
		 </div>
		 <div id="demo"></div>
		<table class="table table-hover">
		  	<thead>
			    <tr>
			      <th>Nombre</th>
			      <th>Apellido</th>
			      <th>DNI</th>
			      {% if 'pediatra' in usuarioActual.roles or 'recepcionista' in usuarioActual.roles %}
			      	<th></th>
			      	<th></th>
			      {% endif %}
			      {% if 'administrador' in usuarioActual.roles %}
			     	<th></th>
			     	<th></th>
			     {% endif %}
			    </tr>
			</thead>
			<tbody>
			{% for elemento in lista %}
		   		<tr>
			      	<td>
			      		{{elemento.nombre}}
			      	</td>
			    	<td>
			    		{{elemento.apellido}}
			    	</td>
			    	<td>
			    		{{elemento.numeroDoc}}
			    	</td>
			    	{% if 'pediatra' in usuarioActual.roles or 'recepcionista' in usuarioActual.roles %}
				    	<td>
				    		<a href="/index.php/paciente/{{ elemento.id }}/edicion" class="btn btn-outline-success btn-own-info">Editar</a>
				    	</td>
				    	<td>
				    		<a href="/index.php/paciente/{{ elemento.id }}" class="btn btn-outline-success btn-own-info">Mas información</a>
				    	</td>
				    {% endif %}
			    	{% if 'administrador' in usuarioActual.roles %}
				    	<td>
				    		<a onclick="return confirm('Seguro?')"  href="/index.php/paciente/{{ elemento.id }}/eliminar" class="btn btn-outline-success btn-own-info">Eliminar </a>
				    	</td>

				    {% endif %}
			    </tr>
			    {% endfor %}
			</tbody>
		</table>
		<a class="btn btn-success mt-3 mb-5 text-right" role="button" href="/index.php/pacientes/nuevo">Agregar nuevo paciente</a>
</section>
