<section class="row mx-auto mt-5 ">
	<div class="login col-md-4  mx-auto mt-4 mb-4 pb-5 pt-5 pr-5 pl-5 border rounded ">
		<h3 class="card-header text-center myHeader">Iniciar sesión </h3>
		<form class="text-center" role="form">
		  	<div class="form-group ">
			    <label for="user" hidden>Usuario</label>
			    <input type="text" class="form-control mt-3" id="user" placeholder="Usuario">
		  	</div>
		 	 <div class="form-group">
		    	<label for="password" hidden>Contraseña</label>
		   		<input type="password" class="form-control mt-3" id="password" placeholder="Contraseña">
			</div>
			<button type="submit" class="btn btn-outline-success  btn-own-info">Iniciar sesión</button>
		</form>
	</div>
</section>