<section class="row mx-auto mt-5 ">
	<div class="login col-md-4  mx-auto mt-4 mb-4 pb-5 pt-5 pr-5 pl-5 border rounded ">
		<h3 class="card-header text-center myHeader">Registrarse </h3>
		<form class="text-center" role="form" method="POST" action="/controller/ControllerUsuario.php?action=agregarUsuario">
			<div class="form-group ">
			    <label for="name" hidden>Nombre</label>
			    <input type="text" class="form-control mt-3" id="name" placeholder="Nombre">
		  	</div>
		  	<div class="form-group ">
			    <label for="surname" hidden>Apellido</label>
			    <input type="text" class="form-control mt-3" id="surname" placeholder="Apellido">
		  	</div>
		  	<div class="form-group ">
			    <label for="user" hidden>Usuario</label>
			    <input type="text" class="form-control mt-3" id="user" placeholder="Usuario">
		  	</div>
		  	<div class="form-group">
		    	<label for="email" hidden>Email</label>
		   		<input type="email" class="form-control mt-3" id="email" placeholder="Email">
			</div>
		 	<div class="form-group">
		    	<label for="password" hidden>Contraseña</label>
		   		<input type="password" class="form-control mt-3" id="password" placeholder="Contraseña">
			</div>
			<div class="form-group">
		    	<label for="password2" hidden>Repita contraseña</label>
		   		<input type="password" class="form-control mt-3" id="password2" placeholder="Repita contraseña">
			</div>
			<p class="text-left">Roles:</p>
			<div class="form-check text-left	">
    			<input type="checkbox" name="rol[]" id="rol[]" class="checkbox" value=1> 
    			<label for="admin">Administrador</label><br/>
     			 				
   				<input type="checkbox" name="rol[]" id="rol[]" class="checkbox" value=2>
    			<label for="recepcionista">Recepcionista</label><br/>	
     						
   				<input type="checkbox" name="rol[]" id="rol[]" class="checkbox" value=3>
    			<label for="pediatra">Pediatra</label><br/>
  			</div>
			<button type="submit" class="btn btn-outline-success  btn-own-info">Registrar</button>
		</form>
	</div>
</section>