<h2 class="text-center" ></h2>
<section class="row mx-auto mt-5 ">
	<div class="login col-md-8  mx-auto mt-4 mb-4 pb-5 pt-5 pr-5 pl-5 border rounded ">
		{% if datosDemograficos %}
		<table class="table table-hover">
			<tbody>
   				<tr>
	     			<th scope="row">Heladera</th>
	     			<td>
	     			 	{% if datosDemograficos.heladera == 1 %} 
	     			 		Si
	     			 	{% else %} 
	     			 		No
	     			 	{% endif %}
	     			</td>
    			</tr>
			    <tr>
	     			<th scope="row">Electricidad</th>
	     			<td>
		     			{% if datosDemograficos.electricidad == 1 %} 
		     				Si
		     			{% else %} 
		     				No
		     			{% endif %}
	     			</td>
			    </tr>
			    <tr>
	     			 <th scope="row">Mascota</th>
	     			 <td>
		     			{% if datosDemograficos.mascota == 1 %} 
		     				Si
		     			{% else %} 
		     				No
		     			{% endif %}
	     			</td>
			    </tr>
			    <tr>
	     			 <th scope="row">Tipo de vivienda</th>
	     			 <td>{{ tipoDeVivienda.nombre }}</td>
			    </tr>
			    <tr>
	     			 <th scope="row">Tipo de calefacción</th>
	     			 <td>{{ tipoDeCalefaccion.nombre }}</td>
			    </tr>
	     		<tr>
	     			 <th scope="row">Tipo de agua</th>
	     			 <td>{{ tipoDeAgua.nombre }}</td>
	     		</tr>
 			 </tbody>
		</table>
		<div class="text-center row">
			<div class="text-center col-md-4 mx-auto">
				<a href="/index.php/paciente/{{idPaciente}}" class="btn btn-outline-success btn-own-info">Volver al paciente</a>
			</div>
			<div class="text-center col-md-4 mx-auto">
				<a href="/index.php/paciente/{{idPaciente}}/datosDemograficos/edicion" class="btn btn-outline-success btn-own-info">Editar</a>
			</div>
			{% if 'administrador' in usuarioActual.roles %}
			<div class="text-center col-md-4 mx-auto">
				<a onclick="return confirm('Seguro?')" href="/index.php/paciente/{{idPaciente}}/datosDemograficos/eliminar" class="btn btn-outline-success btn-own-info">Eliminar</a>
			</div>
			{% endif %}
		</div>
		{% else %}
			<div class="text-center">
				<a href="/index.php/paciente/{{idPaciente}}/datosDemograficos/nuevo" class="btn btn-outline-success btn-own-info ml-auto mr-auto">Agregar datos demográficos</a>
			</div>
		{% endif %}

	</div>

</section>