
<h2 class="text-center" ></h2>
<section class="row mx-auto mt-5 ">
	<div class="login col-md-8  mx-auto mt-4 mb-4 pb-5 pt-5 pr-5 pl-5 border rounded ">
		<table class="table table-hover">
			<tbody>
   				 <tr>
	     			 <th scope="row">Fecha</th>
	     			 <td>{{control.fecha}}</td>
    			</tr>
			    <tr>
	     			 <th scope="row">Edad</th>
	     			 <td>{{control.edad}}</td>
			    </tr>
			    <tr>
	     			 <th scope="row">Peso</th>
	     			 <td>{{control.peso}}</td>
			    </tr>
			    <tr>
	     			 <th scope="row">Vacunas completas</th>
	     			 <td>{{control.vacunasCompeltas}}</td>
			    </tr>
			    <tr>
	     			 <th scope="row">Observaciones vacunas</th>
	     			 <td>{{control.observacionesVacunas}}</td>
			    </tr>
			    <tr>
	     			 <th scope="row">Maduracion acorde</th>
	     			 <td>{{control.maduracionAcorde}}</td>
			    </tr>
			    <tr>
	     			 <th scope="row">Observaciones maduracion</th>
	     			 <td>{{control.observacionesMaduracion}}</td>
			    </tr>
			    <tr>
	     			 <th scope="row">Examen fisico normal</th>
	     			 <td>{{control.examenFisico}}</td>
			    </tr>
			    <tr>
	     			 <th scope="row">Observaciones examen fisico</th>
	     			 <td>{{control.observacionesExamenFisico}}</td>
			    </tr>
 			 </tbody>
		</table>
		<div class="text-center">
			<a href="/index.php/usuario/{{usuario.id}}/edicion" class="btn btn-outline-success btn-own-info">Editar</a>
		</div>
	</div>

</section>