	  		<ul class="navbar-nav float-right">
	  			<!--<li class="nav-item active">
	  				<a class="nav-link  nav-bar-link-own" role="button" href="/controller/ControllerPaciente.php/?action=listarPacientes"> Pacientes </a>
	  			</li>-->
	  			<li class="nav-item dropdown">
        			<a class="nav-link dropdown-toggle nav-bar-link-own" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         			 Administración
        			</a>
			        <div class="dropdown-menu" id="dropdown" aria-labelledby="navbarDropdownMenuLink">
			          <a class="dropdown-item dropdown-item-own" href="/controller/ControllerUsuario.php/?action=listarUsuarios">Usuarios</a>
			          <a class="dropdown-item dropdown-item-own" href="#">Roles</a>
			          <a class="dropdown-item dropdown-item-own" href="#">Permisos</a>
			          <div class="dropdown-divider"></div>
			          <a class="dropdown-item dropdown-item-own" href="/controller/ControllerConfiguracion.php?action=modificacionConfiguracion">Configuración</a>
			        </div>
      			</li>
	    	</ul>