<!DOCTYPE HTML>
<html>
<head>
<script>
window.onload = function() {

	var chartDatosDemograficos = new CanvasJS.Chart("chartDatosDemograficos", {
		theme: "light2", // "light1", "light2", "dark1", "dark2"
		exportEnabled: true,
		animationEnabled: true,
		title: {
			text: "Datos demograficos"
		},
		data: [{
			type: "pie",
			startAngle: 25,
			toolTipContent: "<b>{label}</b>: {y}%",
			showInLegend: "true",
			legendText: "{label}",
			indexLabelFontSize: 16,
			indexLabel: "{label} - {y}%",
			dataPoints: [
				{ y: 51.08, label: "Heladera" },
				{ y: 27.34, label: "Electricidad" },
				{ y: 10.62, label: "Mascota" }
			]
		}]
	});
	chartDatosDemograficos.render();

	var chartTipoVivienda = new CanvasJS.Chart("chartTipoVivienda", {
		theme: "light2", // "light1", "light2", "dark1", "dark2"
		exportEnabled: true,
		animationEnabled: true,
		title: {
			text: "Tipos de vivienda"
		},
		data: [{
			type: "pie",
			startAngle: 25,
			toolTipContent: "<b>{label}</b>: {y}%",
			showInLegend: "true",
			legendText: "{label}",
			indexLabelFontSize: 16,
			indexLabel: "{label} - {y}%",
			dataPoints: [
				{ y: 51.08, label: "Material" },
				{ y: 27.34, label: "Chapa" },
				{ y: 10.62, label: "Madera" }
			]
		}]
	});
	chartTipoVivienda.render();

	var chartTipoCalefaccion = new CanvasJS.Chart("chartTipoCalefaccion", {
		theme: "light2", // "light1", "light2", "dark1", "dark2"
		exportEnabled: true,
		animationEnabled: true,
		title: {
			text: "Tipos de calefaccion"
		},
		data: [{
			type: "pie",
			startAngle: 25,
			toolTipContent: "<b>{label}</b>: {y}%",
			showInLegend: "true",
			legendText: "{label}",
			indexLabelFontSize: 16,
			indexLabel: "{label} - {y}%",
			dataPoints: [
				{ y: 51.08, label: "Gas" },
				{ y: 27.34, label: "Electrica" }
			]
		}]
	});
	chartTipoCalefaccion.render();

	var chartTipoAgua = new CanvasJS.Chart("chartTipoAgua", {
		theme: "light2", // "light1", "light2", "dark1", "dark2"
		exportEnabled: true,
		animationEnabled: true,
		title: {
			text: "Tipos de agua"
		},
		data: [{
			type: "pie",
			startAngle: 25,
			toolTipContent: "<b>{label}</b>: {y}%",
			showInLegend: "true",
			legendText: "{label}",
			indexLabelFontSize: 16,
			indexLabel: "{label} - {y}%",
			dataPoints: [
				{ y: 51.08, label: "Corriente" },
				{ y: 27.34, label: "De pozo" }
			]
		}]
	});
	chartTipoAgua.render();

}
</script>
</head>
<body>
<div id="chartDatosDemograficos" style="height: 370px; width: 40%;"></div>
<div id="chartTipoVivienda" style="height: 370px; width: 40%;"></div>
<div id="chartTipoCalefaccion" style="height: 370px; width: 40%;"></div>
<div id="chartTipoAgua" style="height: 370px; width: 40%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>